{% extends "emsite/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
                    <small>Us</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'emsite:index' %}">Home</a>
                    </li>
                    <li class="active">Form</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Register here</h2>
				<div class="contact-clean">					
					{% csrf_token %}
					{% crispy form %}
				</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
	</div>
{% endblock content %}