{% extends "emsite/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load course_tags %}
{% load to_hyphen %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{course.title}}
                    <!--<small>Subheading</small>-->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'emsite:index' %}">Home</a>
                    </li>
                    <li class="active">{{course.title}}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
						{% with "img/"|add:course.title|to_hyphen|add:"-1.jpg" as imgdir %}
                        <div class="item active">
                            <img class="img-responsive" src="{% static imgdir %}" alt="">
                        </div>
						{% endwith %}
						{% with "img/"|add:course.title|to_hyphen|add:"-2.jpg" as imgdir %}
                        <div class="item">
                            <img class="img-responsive" src="{% static imgdir %}" alt="">
                        </div>
						{% endwith %}
						{% with "img/"|add:course.title|to_hyphen|add:"-3.jpg" as imgdir %}
                        <div class="item">
                            <img class="img-responsive" src="{% static imgdir %}" alt="">
                        </div>
						{% endwith %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Description</h3>
                <p>{{course.description}}</p>
                <h3>Specific Courses</h3>
                {{course.details|markdown}}
				<div align="right"><a class="btn btn-primary" href="{% url 'emsite:online_form' %}">Register</i></a></div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        {% if similar_courses.count != 1 %}
		<div class="row">
			
            <div class="col-lg-12">
                <h3 class="page-header">Related Courses</h3>
            </div>
			{% for c in similar_courses %}
				{% if c != course %}
					<div class="col-sm-3 col-xs-6">
						<a href="{{c.get_absolute_url}}">
							{% with "img/"|add:c.title|to_hyphen|add:"-1.jpg" as imgdir %}
							<img class="img-responsive img-hover img-related" src="{% static imgdir %}" alt="">
							{% endwith %}
						</a>
						<div class="text-center">{{c.title}}</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
        <!-- /.row -->

        <hr>

    </div>
{% endblock content %}